<div class="container">
    <h1>Los ciclos tecnológicos son</h1>

    <div class="row">
        <div class="col">
            <h2 #nombreGrado>DAM</h2>
            <ul class="list-group" *ngFor="let item of asignaturasDAM">
                <li class="list-group-item">{{item.nombre}}</li>
            </ul>
        </div>
        <div class="col">
            <h2>DAW</h2>
            <ul class="list-group" *ngFor="let item of asignaturasDAW">
                <li class="list-group-item">{{item.nombre}}</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-3" *ngFor="let item of ciclos">
        <div class="card" style="width: 18rem;">
            <img src="{{item.imagen|imagenes}}" class="card-img-top" alt="{{item.imagen}}">
            <div class="card-body">
                <h5 class="card-title">{{item.curso}} {{item.nombre | textosupper}}</h5>
                <button class="btn btn-primary" (click)="detallesGrado('detallesciclos', item.curso, item.nombre)">Ver
                    detalles</button>
            </div>
        </div>
    </div>
</div>